<launch>

<rosparam file="$(find soomac_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="soomac" args="Component2 to base_link_position_controller Component3 to Component2_position_controller Component4 to Component3_position_controller Component5 to Component4_position_controller Component6 to Component5_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/soomac/joint_states"/>
</node>

</launch>